body {
    background-color: rgb(25,20,20);
    justify-content: center;
    color: white;
}

h1,h2 {
    text-align: center;
    color: white;
}


nav {
    display: flex;
    align-items: center;
    margin-top: 10px;
    background-color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    align-content: center;
    border-radius: 10px;
}

label {
    color: whitesmoke;
}

.botonNav {
    align-self: center;
    align-content: center;
    text-align: center;
    border-radius: 12px;
    border-style: solid;
    border-color: white;
    color:white;
    background-color: rgb(151, 120, 40);
    cursor: pointer;
    text-decoration: none;
    padding: 3px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: inherit;
    font-size: 18px;
}

.botonNav:first-of-type {
    margin-left: 10px; 
}

.logo {
    height: 35px;
    width: 100px;
}
