.cartaPerfil{
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 15px;
    height: 500px;
    width: 300px;
    background-color: rgba(245, 245, 245, 0.21);
    text-align: center;
}

.cartaPerfil img{
    height: 170px;
    width: auto;
    max-width: 280px;
    margin-top: 10px;
    border-radius: 10px;
    border-style: solid;
}

.cartaTags{
    justify-content: center;
    margin-bottom: 5px;
}

.cartaTag{
    background-color: rgb(151, 120, 40);
    border-radius: 10px;
    border-color: white;
    width: 100px;
    color: white;
    justify-content: center;
    display: inline-block;
}

.cartaFiltro{
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 15px;
    height: 500px;
    width: 300px;
    background-color: rgba(245, 245, 245, 0.262);
    text-align: center;
}

.cartaFiltro button{
    width: 80px;
}