.filaPerfilyFiltroIndex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.botonIndex {
    align-self: center;
    align-content: center;
    text-align: center;
    border-radius: 8px;
    border-style: solid;
    border-color: white;
    height: 35px;
    width: 100px;
    color:white;
    background-color: rgb(151, 120, 40);
    cursor: pointer;
    font-family: inherit;
}

.botonIndex:hover {
    align-self: center;
    align-content: center;
    text-align: center;
    border-radius: 8px;
    border-style: solid;
    border-color:black;
    height: 35px;
    width: 100px;
    color:black;
    background-color: rgb(255, 255, 255);
}
