#botonDeEdicion {
    display: inline-block;
    margin-top: 8px;
    padding: 10px 15px;
    background-color: rgb(151, 120, 40);
    color: white;
    text-decoration: none;
    border-radius: 20px;
    transition: 0.2s;
    cursor: pointer;
    font-family: inherit;
}

#botonDeEdicion:hover {
    border-radius: 10px;
}

.h1Perfil {
    background-color: gray;
    text-align: center;
    font-size: 28px;
    margin-top: 40px;
}

.info {
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    color: white;
    line-height: 1.7;
    font-size: 17px;
    font-family: inherit;
}

.info li {
    margin-bottom: 8px;
}
