body{
    background-color: rgb(25,20,20);
    justify-content: center;
    
}


h1,h2{
    text-align: center;
    color: whitesmoke;
}

label{
    color: whitesmoke;
}

nav{
    background-color: whitesmoke;
}

body{
    background-color: rgb(25,20,20);
    justify-content: center;
}

h1{
    text-align: center;
    color: whitesmoke;
}

label{
    color: whitesmoke;
}

nav{
    background-color: whitesmoke;
}