body{
    background-color: rgb(25,20,20);
    justify-content: center;
    
}


h1,h2{
    text-align: center;
    color: white;
}


nav{
    margin-top: 10px;
    background-color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}

nav a{
    padding-right: 20px;
    padding-left: 20px;
}

label{
    color: whitesmoke;
}

.boton{
    justify-self: left;
    align-self: center;
    align-content: center;
    text-align: center;
    border-radius: 100%;
    border-style: solid;
    height: 50px;
    width: 50px;
    color:white;
    background-color: rgb(151, 120, 40);
}
