.cartaPerfil{
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 15px;
    height: 500px;
    width: 300px;
    background-color: rgba(245, 245, 245, 0.548);
    text-align: center;
}

.cartaPerfil img{
    height: 170px;
    width: auto;
    max-width: 280px;
    margin-top: 10px;
    border-radius: 10px;
    border-style: solid;
}

.filaPerfil{
    display: flex;
    justify-content: center;
}

.tag{
    background-color: rgb(151, 120, 40);
    border-radius: 10px;
    border-color: white;
    width: 140px;
    color: white;
    justify-content: center;
    display: inline-block;
}
