@import url('basico.css');

.buttonCrearUsuario{
    border-style: none;
    border-radius: 10px;
}

.formCrearUsuario{
    position: fixed;
    left: 39%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.75);
}

.labelCrearUsuario{
    color: rgb(25,20,20);
}

.hiCrearUsuario{
    background-color: gray;
}

.textInput{
    width: 150px;
    height: 5px;
}