@import url('basico.css');


button{
    border-style: none;
    border-radius: 10px;

}

.login{
    display: flex;
    position: fixed;
    left: 39%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.75);
}

.textInput{
    width: 150px;
    height: 5px;
}