.listaEstudios{
    display: flex;
    flex-direction: row;
}

.cartaEstudio{
    position: relative;
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 15px;
    height: 500px;
    width: 300px;
    background-color: rgba(245, 245, 245, 0.548);
    text-align: center;
}

.cartaEstudio img{
    border-radius: 15px;
}

.imagenEnlace{
    height: 50px;
    width: 50px;
    border-radius: 20px;
}

.enlaces{
    position: absolute;
    bottom: 20px;
    width: 100%;
}
