@import url('basico.css');
@import url('cartas.css');
@import url('iniciar_sesion.css');
@import url('crear_usuario.css');
@import url('contactos.css');
@import url('perfil_espacio.css');
@import url("perfil_usuario.css");