body{
    display: flex;
    background-color: rgb(17, 16, 16);
    justify-content: space-evenly;
}

.carta{
    padding: 5px;
    font-family: sans-serif;
    height: 350px;
    width: 300px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.538);
    border-radius: 10px;
}

#datos{
    justify-self: center;
}