body{
    background-color: rgb(25,20,20);
    justify-content: center;
}

.cartaPerfil{
    margin-top: 2%;
    border-radius: 15px;
    height: 500px;
    width: 300px;
    background-color: rgba(245, 245, 245, 0.548);
    text-align: center;
    margin-right: 15px;
    margin-left: 15px;
}

.cartaPerfil img{
    height: 200px;
    width: auto;
    max-width: 280px;
}

.filaPerfiles{
    display: flex;
    justify-content: center;
}

.fotoPerfil{
    border-radius: 10px;
    border-style: solid;
    height: 200px;
}

h1{
    text-align: center;
    color: whitesmoke;
}

label{
    color: whitesmoke;
}