body{
    background-color: rgb(17, 16, 16);

}

.display{
    display: flex;
    justify-content: space-evenly;
}

.navbar{
    background-color: gray;
    width: 100%;
    height: 80px;
    border: none;
    border-radius: 10px;
}

.carta{
    padding: 5px;
    font-family: sans-serif;
    height: 350px;
    width: 300px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.538);
    border-radius: 10px;
}

#datos{
    justify-self: center;
}

.boton{
    border-style: none;
    border-radius: 10px;
    background-color: white;
    color: black;
}