body{
    display:flex;
    background-color: rgb(25,20,20);
    justify-content: center;
}

.cartaPerfil{
    position:relative;
    margin-top: 2%;
    border-radius: 15px;
    height: 500px;
    width: 300px;
    background-color: rgba(245, 245, 245, 0.548);
    text-align: center;
}

.foto{
    border-radius: 10px;
    border-style: solid;
    height: 200px;
}