.botonBandas {
    align-self: center;
    align-content: center;
    text-align: center;
    border-radius: 8px;
    border-style: solid;
    border-color: white;
    height: 35px;
    width: 100px;
    color:white;
    background-color: rgb(151, 120, 40);
    cursor: pointer;
    font-family: inherit;
    margin-top: 15px;
}

.botonBandas:hover {
    align-self: center;
    align-content: center;
    text-align: center;
    border-radius: 8px;
    border-style: solid;
    border-color:black;
    height: 35px;
    width: 100px;
    color:black;
    background-color: rgb(255, 255, 255);
    margin-top: 15px;
}

#instrumentosBanda, #generosBanda, #redsocialBanda{
    margin-top: -4px;
    justify-content: center;
    display: inline-block;
}

#bioBanda {
    margin-top: -1px;
    justify-content: center;
    display: inline-block;
}

.carta label {
    color: rgb(151, 120, 40);
}
