.cartaPerfil {
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 15px;
    height: 500px;
    width: 300px;
    background-color: rgba(245, 245, 245, 0.21);
    text-align: center;
}

.cartaPerfil img {
    height: 170px;
    width: auto;
    max-width: 280px;
    margin-top: 10px;
    border-radius: 10px;
    border-style: solid;
}

.cartaTags {
    justify-content: center;
    margin-bottom: 5px;
}

.cartaTag {
    background-color: rgb(151, 120, 40);
    border-radius: 10px;
    border-color: white;
    width: 100px;
    color: white;
    justify-content: center;
    display: inline-block;
}

.cartaFiltro {
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 15px;
    height: 500px;
    width: 300px;
    background-color: rgba(245, 245, 245, 0.262);
    text-align: center;
}

.cartaFiltro button {
    width: 80px;
}

#filtroMusicos input[type="text"],
#filtroBandas input[type="text"],
#filtroSalas input[type="text"] {
    width: 85%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: gray;
    color: white;
    font-size: 15px;
    outline: none;
}

#filtroMusicos input[type="submit"],
#filtroBandas input[type="submit"],
#filtroSalas input[type="submit"] {
    border-style: none;
    width: 65%;
    height: 25px;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(151, 120, 40);
    color: white;
    display: block;
    margin: 0 auto;
    font-family: inherit;
    font-size: 14px;
    transition: 0.2s;
}

#filtroMusicos input[type="submit"]:hover,
#filtroBandas input[type="submit"]:hover,
#filtroSalas input[type="submit"]:hover {
    border-radius: 10px;
}
