.marco{
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    height: 1000px;
    width: 1000px;
}

.miniCarta{
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    height: 325px;
    width: 240px;
    background-color: rgba(255, 255, 255, 0.385);
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}

.miniCarta img{
    height: 170px;
    width: 215px;
    margin: 10px;
    border-radius: 10px;
    border-style: solid;
    justify-self: center;
}

.botoneraContactos{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.botoneraContactos .botonIndex{
    margin-right: 10px;
    margin-left: 10px;
}

.marco #marco_bandas{
    display:none;
}

.marco #marco_espacios{
    display:none;
}

.miniCarta p{
    margin-top: 5px;
}

.miniCarta .botonIndex{
    justify-self: center;
}