.marcoEstudios {
    display: flex;
    flex-direction: row;    
}

.cartaEstudio {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 15px;
    height: 500px;
    width: 300px;
    background-color: rgba(245, 245, 245, 0.548);
    text-align: center;
}

.cartaEstudio img{
    width: 250px;
    height: 250px;
    border-radius: 15px;
    display:block;
    overflow: hidden;
    margin-top: 10px;
}

.botonReservar {
    margin-top: auto;
}
