#botonDeEdicionPerfil {
    display: inline-block;
    margin-top: 8px;
    padding: 10px 15px;
    background-color: rgb(151, 120, 40);
    color: white;
    text-decoration: none;
    border-radius: 20px;
    transition: 0.2s;
    cursor: pointer;
    font-family: inherit;
}

#botonDeEdicionPerfil:hover {
    border-radius: 10px;
}

#botonDeEdicionBanda {
    display: inline-block;
    margin-top: 8px;
    padding: 10px 15px;
    background-color: rgb(151, 120, 40);
    color: white;
    text-decoration: none;
    border-radius: 20px;
    transition: 0.2s;
    cursor: pointer;
    font-family: inherit;
}

#botonDeEdicionBanda:hover {
    border-radius: 10px;
}

#botonCrearBanda {
    display: inline-block;
    margin-top: 8px;
    padding: 10px 15px;
    background-color: rgb(151, 120, 40);
    color: white;
    text-decoration: none;
    border-radius: 20px;
    transition: 0.2s;
    cursor: pointer;
    font-family: inherit;
}

#botonUnirseBanda:hover {
    border-radius: 10px;
}

#botonUnirseBanda {
    display: inline-block;
    margin-top: 8px;
    padding: 10px 15px;
    background-color: rgb(151, 120, 40);
    color: white;
    text-decoration: none;
    border-radius: 20px;
    transition: 0.2s;
    cursor: pointer;
    font-family: inherit;
}

#botonCrearBanda:hover {
    border-radius: 10px;
}

.opcionesBanda {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px;
}

.h1Perfil {
    text-align: center;
    font-size: 28px;
    margin-top: 40px;
}

.info {
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    color: white;
    line-height: 1.7;
    font-size: 17px;
    font-family: inherit;
}

.hiddenBanda {
    display: none;
}

.fotoPerfilGrande {
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.inputNuevoLink {
    border-radius: 20px;
    display: relative;
    left: 100px;
}