.marcoEspacios {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.cartaEspacio {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 15px;
    height: 500px;
    width: 300px;
    background-color: rgba(245, 245, 245, 0.548);
    text-align: center;
}

.cartaEspacio img{
    width: 250px;
    height: 250px;
    border-radius: 15px;
    display: block;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 25px;
}

.botonReservar {
    margin-top: auto;
    
}

.fondoReservas {
    display: none;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.cuadroCalendario {
    display: none;
    z-index: 2;
    width: 300px;
    height: 300px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.calendarioReservas th {
    background-color: rgb(151, 120, 40);
    color: white;
    width: 40px;
    cursor: default;
}

.calendarioReservas td {
    text-align: right;
    padding: 2px 5px;
    background-color: rgb(95, 95, 95);
    cursor: default;
}

.ubicacionEnCalendario {
    color: black;
}

.ubicacionEnCalendario button {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgb(151, 120, 40);
    color: black;
    border-color: white;
    cursor: pointer;
}

.ubicacionEnCalendario button:hover {
    background-color: rgb(199, 157, 53);
    border-color: black;
}

.botonCerrarCalendario {
    position: absolute;
    height: 65px;
    top: 0;
    right: 0;
    border-radius: 0;
    border: none;
}

.diasPosteriores {
    background-color: green !important;
    cursor: pointer !important;
}

.diasPosteriores:hover {
    background-color: darkgreen !important; 
}

.cuadroHorarios {
    display:none;
    z-index: 2;
    width: auto;
    height: 100px;
    background-color: white;
    color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.horasResevas td {
    text-align: right;
    padding: 2px 5px;
    background-color: rgb(95, 95, 95);
    cursor: default;
}

.horasDisponibles {
    background-color: green !important;
    cursor: pointer !important;
}

.horasDisponibles:hover {
    background-color: darkgreen !important; 
}